
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <link href="~/Content/Site.css" rel="stylesheet" />
        <title>Castle Windsor Glimpse Plugin</title>
    </head>
    <body>
        <h1>Castle Windsor Test</h1>
        <div>
            <p>Enable glimpse by clicking <a href="~/Glimpse.axd" target="_blank">here</a> and then refreshing the page.</p>
            <p>You should see all the container resolutions for the page.</p>
              
        </div>
    </body>
</html>